<ion-view view-title="{{curpj.name}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-share" ng-click="shareProject()">
      </button>
      <button class="button button-icon button-clear ion-android-add" ng-click="popover.show($event)">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="full-width text-center">
      <div class="row" ng-repeat="imgSet in projectImagesToShow">
        <div class="col" ng-repeat="img in imgSet" ng-click="edit(img.id)">
          <img src="{{img.path}}" style="height: 160px;">
          <p class="text-center">{{img.name}}</p>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-positive">
    <div class="title">
      <p class="text-center click" ng-click="operate()">运行</p>
    </div>
  </ion-footer-bar>

  <script id="templates/popover_detail.html" type="text/ng-template">
    <ion-popover-view ng-class="{true: 'popover_detail_ios', false: 'popover_detail_android'}[isIOS]"">
      <ion-content>
        <div id="first_div" ng-click="takePhoto();popover.hide()">
          拍摄照片
        </div>
        <div ng-click="loadPhoto();popover.hide()">
          从相册中选取
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
