<ion-view view-title="项目详细(项目名)">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <span id="share">Share</span>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="row" ng-repeat="imgSet in currentProject.images">
      <div class="col" ng-repeat="img in imgSet" ng-click="edit(img.id)">
        <img src="{{img.path}}" style="height: 180px;">
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-dark">
    <div class="footerbuttons">
      <button class="button button-icon button-clear ion-plus"></button>
    </div>
    <div class="footerbuttons">
      <button class="button button-icon button-clear ion-play"></button>
    </div>
  </ion-footer-bar>
</ion-view>
