/* Empty. Add your own CSS if you like */
#container{
    position: relative;
}

#image{
    position: absolute;
    z-index: 10;
}

.box{
    position: absolute;
    z-index: 20;
    width: 50px;
    height: 50px;
    background: rgba(255,0,0,0.5);
}

.point{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

.popover_edit_ios{
    width: 180px;
    height: 40px;
}

.popover_edit_ios ul li{
    float: left;
    width: 60px;
    font-size: 10pt;
    text-align: center;
}

.popover_edit_android{
    width: 180px;
    height: 25px;
}

.popover_edit_android ul li{
    float: left;
    width: 60px;
    font-size: 10pt;
    text-align: center;
}

.li_with_border_right{
    border-right: 1px dashed;
}

.full-width {
    width: 100%;
}
.click:active {
    color: #11c1f3;//浅蓝
}

.popover_detail_photo_ios{
    width: 120px;
    height: 80px;
}

.popover_detail_photo_ios div{
    font-size: 12pt;
    text-align: center;
}

.popover_detail_photo_ios #first_div{
    height: 30px;
    border-bottom: 1px dashed;
}

.popover_detail_photo_android{
    width: 120px;
    height: 60px;
}

.popover_detail_photo_android div{
    text-align: center;
    height: 30px;
}

.popover_detail_photo_android #first_div{
    border-bottom: 1px dashed;
}

.popover_detail_delete_ios{
    width: 40px;
    height: 40px;
    text-align: center;
}

.popover_detail_delete_android{
    width: 40px;
    height: 30px;
    text-align: center;
}
